/* STYLE GUIDE */

:root {
  font-size: 16px;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.8rem;
  --font-size-12: 0.75rem;
  --font-size-10: 0.6rem;
  --color-white: #fff;
  --color-off-white: #f3f5f8;
  --color-separator: #d6e0ea;
  --color-black: #000;
  --color-text: #061726;
  --color-text-grey: #495a6a;
  --color-red: #d20a0a;
  --color-brand: #74cc1d;
  --color-yellow: #c9cc1d;
  --gap-xxs: 0.5rem;
  --gap-xs: 0.75rem;
  --gap-s: 1rem;
  --gap-m: 2rem;
  --gap-l: 3rem;
  --gap-xl: 5rem;
  --font-standard: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-standard);
  background-color: var(--color-white);
  color: var(--color-text);
  font-size: var(--font-size-14);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-text);
}

/* --------------- BUTTON STYLES ----------------- */

button {
  cursor: pointer;
}
.button {
  padding: var(--gap-xs) var(--gap-s);
  border-radius: 4rem;
  background-color: transparent;
  border: 2px solid var(--color-brand);
  font-size: var(--font-size-14);
  font-weight: 600;
}
.button:hover {
  background-color: var(--color-separator);
}
.button.transparent {
  border: 2px solid transparent;
}
.button.category {
  border: 0;
  background-color: var(--color-off-white);
  padding: 0 var(--gap-s);
  height: 2rem;
}
.button.category img {
  min-width: 43px;
}
.button.category:hover {
  background-color: var(--color-separator);
}
.button.category.red-bg {
  background-color: var(--color-red);
  color: var(--color-white);
}
.button.category.red-bg:hover {
  background-color: var(--color-separator);
  color: var(--color-text);
}
.button.small {
  font-size: var(--font-size-13);
  padding: var(--gap-xxs) var(--gap-xs);
  font-weight: 400;
  border: 1px solid var(--color-brand);
}

/* --------------- BUTTON STYLES END ----------------- */

.page-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 70px 60px 1fr;

  grid-template-areas:
    "head head"
    "aside cate"
    "aside main";
}

/* HEADER */

.page-wrapper > header {
  grid-area: head;
  border-bottom: 1.5px solid var(--color-separator);
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-xs) var(--gap-m);
}

.header-left {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}
.menu-icon {
  cursor: pointer;
}

.brand image {
  width: 100%;
}

.header-center {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-separator);
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 32rem;
  max-width: 50%;
}
.header-center > input {
  flex-grow: 1;
  border: 0;
  padding: var(--gap-xxs);
}
.header-center button {
  height: 100%;
  background-color: transparent;
  border: 0;
  padding: var(--gap-xs);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ASIDE */

.page-wrapper > aside {
  grid-area: aside;
  overflow: auto;
  padding: var(--gap-xs);
  border-right: 1.5px solid var(--color-separator);
  font-size: var(--font-size-10);
}
.page-wrapper > aside::-webkit-scrollbar {
  width: 0;
}
.nav-links-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--gap-s) 0;
  border-bottom: 1.5px solid var(--color-separator);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: var(--gap-xxs) 0.25rem;
  text-align: center;
  color: var(--color-text);
  border-radius: 0.5rem;
}

.nav-link:hover {
  background-color: var(--color-separator);
}

.nav-link img {
  width: 20px;
}

.nav-featured-wrapper {
  padding: var(--gap-m) 0 var(--gap-s) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1.5px solid var(--color-separator);
}

.nav-featured-wrapper a:hover {
  opacity: 60%;
}

aside h3 {
  margin-bottom: var(--gap-s);
}
.nav-featured-wrapper a {
  padding: var(--gap-xxs);
}
.nav-featured-wrapper img {
  border-radius: 2rem;
}

.theme-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-m) 0;
}

/* NAV CATEGORIES */

.page-wrapper > .nav-categories {
  grid-area: cate;
  max-width: 100%;
  border-bottom: 1.5px solid var(--color-separator);
  padding: 0 var(--gap-m);
  display: flex;
  align-items: center;
  overflow: auto;
}
.page-wrapper > .nav-categories::-webkit-scrollbar {
  height: 0;
}
.categories-wrapper {
  display: flex;
  gap: var(--gap-xs);
  text-wrap: nowrap;
}

/* MAIN */

.page-wrapper > main {
  grid-area: main;
}

/* Featured section */

.section-featured {
  padding: var(--gap-s) var(--gap-m);
  border-bottom: 1.5px solid var(--color-separator);
}

.featured-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.featured-component > figure {
  width: 45%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  border: 3px solid var(--color-yellow);
}

.tag-dvr {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  background-color: var(--color-yellow);
  border-radius: 4px;
  font-size: var(--font-size-10);
  font-weight: 700;
}
.featured-content {
  width: 50%;
}
.featured-content > h3 {
  font-size: var(--font-size-16);
  font-weight: 500;
  color: var(--color-text-grey);
  margin-bottom: var(--gap-xs);
}
.featured-content > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--gap-xs);
}
.channel-info {
  display: flex;
  align-items: center;
  gap: var(--gap-xxs);
}
.channel-info img {
  border-radius: 4rem;
}
.channel-info-right {
  font-size: var(--font-size-13);
}
.channel-info-right h4 {
  font-weight: 600;
}

/* Main section */

main {
  overflow: auto;
}

.section-main {
  padding: var(--gap-s) var(--gap-m);
  border-bottom: 1.5px solid var(--color-separator);
  background-color: var(--color-off-white);
}
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gap-xs);
}
.cards-wrapper {
  display: flex;
  gap: var(--gap-s);
  margin-bottom: 1.5rem;
}
.cards-wrapper.small-cards {
  gap: var(--gap-xxs);
}
.cards-wrapper.small-cards h3 {
  font-size: var(--font-size-14);
}
.card {
  cursor: pointer;
}
.thumbnail-image-wrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.thumbnail-image-wrapper.live {
  border: 3px solid var(--color-red);
}
.tag-time {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  background-color: var(--color-text);
  color: var(--color-white);
  border-radius: 4px;
  font-size: var(--font-size-10);
  font-weight: 700;
}
.tag-live {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  background-color: var(--color-red);
  color: var(--color-white);
  border-radius: 4px;
  font-size: var(--font-size-10);
  font-weight: 700;
}
.card h3 {
  margin: 0.5rem 0;
}

footer {
  padding: var(--gap-l) var(--gap-m);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-m);
}
.footer-nav-left {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-s);
}

.footer-nav-center {
  font-size: var(--font-size-12);
  display: flex;
  gap: var(--gap-s);
}

.footer-nav-right {
  font-size: var(--font-size-12);
  display: flex;
  gap: var(--gap-s);
}

/* ------------------- Media queries --------------------- */
/* ------------------- TABLET --------------------- */

@media (max-width: 960px) {
  .page-wrapper {
    grid-template-columns: 1fr;
  }

  .page-wrapper > aside {
    display: none;
  }

  .header-center {
    max-width: 40%;
  }

  .card.tablet-hide {
    display: none;
  }
}

/* ------------------- MOBILE --------------------- */

@media (max-width: 640px) {
  :root {
    font-size: 14px;
  }

  .page-wrapper {
    grid-template-rows: auto 50px auto;
  }

  .button {
    padding: var(--gap-xxs) var(--gap-xs);
    border: 1.5px solid var(--color-brand);
    font-size: var(--font-size-16);
  }

  header > nav {
    padding: var(--gap-xs) var(--gap-s);
  }

  .brand {
    width: 8rem;
  }

  .header-center {
    display: none;
  }

  .page-wrapper > .nav-categories {
    padding: 0 var(--gap-s);
  }

  .section-featured {
    padding: var(--gap-xxs) var(--gap-s);
  }

  .featured-component {
    display: flex;
    flex-direction: column;
  }

  .featured-component > figure {
    width: 100%;
    margin-bottom: var(--gap-s);
  }

  .featured-content {
    width: 100%;
  }

  .section-main {
    padding: var(--gap-xxs) var(--gap-s);
  }

  .card.mobile-hide {
    display: none;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav-left {
    flex-direction: column;
    align-items: center;
  }
}
