/* STYLE GUIDE */

:root {
  font-size: 16px;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.8rem;
  --font-size-12: 0.75rem;
  --font-size-10: 0.6rem;
  --color-white: #fff;
  --color-off-white: #f3f5f8;
  --color-separator: #d6e0ea;
  --color-black: #000;
  --color-text: #061726;
  --color-text-grey: #495a6a;
  --color-red: #d20a0a;
  --color-brand: #74cc1d;
  --gap-xxs: 0.5rem;
  --gap-xs: 0.75rem;
  --gap-s: 1rem;
  --gap-m: 2rem;
  --gap-l: 3rem;
  --gap-xl: 5rem;
  --font-standard: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-standard);
  background-color: var(--color-white);
  color: var(--color-text);
  font-size: var(--font-size-14);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-text);
}

/* BUTTON STYLES*/

button {
  cursor: pointer;
}
.button {
  padding: var(--gap-xs) var(--gap-s);
  border-radius: 4rem;
  background-color: transparent;
  border: 2px solid var(--color-brand);
  font-size: var(--font-size-14);
  font-weight: 600;
}
.button:hover {
  background-color: var(--color-separator);
}
.button.transparent {
  border: 2px solid transparent;
}
.button.category {
  border: 0;
  background-color: var(--color-off-white);
}
.button.category:hover {
  background-color: var(--color-separator);
}
.button.category.red-bg {
  background-color: var(--color-red);
  color: var(--color-white);
}
.button.category.red-bg:hover {
  background-color: var(--color-separator);
  color: var(--color-text);
}

.page-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 70px 60px 1fr;

  grid-template-areas:
    "head head"
    "aside cate"
    "aside main";
}

/* HEADER */

.page-wrapper > header {
  grid-area: head;
  border-bottom: 1.5px solid var(--color-separator);
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-xs) var(--gap-m);
}

.header-left {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}
.menu-icon {
  cursor: pointer;
}

.header-center {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-separator);
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 32rem;
  max-width: 50%;
}
.header-center > input {
  flex-grow: 1;
  border: 0;
  padding: var(--gap-xxs);
}
.header-center button {
  height: 100%;
  background-color: transparent;
  border: 0;
  padding: var(--gap-xs);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ASIDE */

.page-wrapper > aside {
  grid-area: aside;
  overflow: auto;
  padding: var(--gap-xs);
  border-right: 1.5px solid var(--color-separator);
  font-size: var(--font-size-10);
}
.nav-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-xs) 0 var(--gap-s) 0;
  border-bottom: 1.5px solid var(--color-separator);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: var(--gap-xxs) 0.25rem;
  text-align: center;
  color: var(--color-text);
}
.nav-link img {
  width: 20px;
}

.nav-featured-wrapper {
  padding: var(--gap-m) 0 var(--gap-s) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1.5px solid var(--color-separator);
}
aside h3 {
  margin-bottom: var(--gap-s);
}
.nav-featured-wrapper a {
  padding: var(--gap-xxs);
}
.nav-featured-wrapper img {
  border-radius: 2rem;
}

.theme-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-m) 0;
}

/* NAV CATEGORIES */

.page-wrapper > .nav-categories {
  grid-area: cate;
  max-width: 100%;
  border-bottom: 1.5px solid var(--color-separator);
  padding: 0 var(--gap-m);
  display: flex;
  align-items: center;
  overflow: auto;
}
.categories-wrapper {
  display: flex;
  gap: var(--gap-xs);
  text-wrap: nowrap;
}

/* MAIN */

.page-wrapper > main {
  grid-area: main;
  background-color: purple;
}
